jellyfin-android-transcoder/src/Jellyfin.Plugin.AndroidTranscoder/shim-payload/jfat-ffmpeg filter=lfs diff=lfs merge=lfs -text
android-transcoder/app/src/main/jniLibs/*/lib*.so filter=lfs diff=lfs merge=lfs -text
